<h1>Padget</h1>
<%= image_tag"Padget.png" %>
<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Sign in", new_user_session_path %>
<p>https://www.canva.com/design/DAE4V775NxE/0mz9VQ9URFvYBohSWGYweQ/watch?utm_content=DAE4V775NxE&utm_campaign=designshare&utm_medium=link&utm_source=shareyourdesignpanel</p>
