<div>
  <div class="p-5">  
    <h1 class="logo-text primary text-center">Padget</h1>
  </div>
  <div class="p-5 text-center">
    <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-primary" %>
    <%= link_to "Sign in", new_user_session_path, :class => "btn btn-primary" %>
  </div>
</div>